# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

*.pem
*id_rsa*
*id_ed25519*
pixology-jenkins-ec2
pixology-jenkins-ec2.pub
pixology_jenkins_ed25519
pixology_jenkins_ed25519.pub